+# Ignore everything.


# Except for these files:
!*.yml
!.gitignore
!.idea/.gitignore

# Even if they are in sub-directories.
!*/

# But continue to ignore the following:
ChatWarn 3.0.iml
bin/*
dont-commit.rtf
.idea/*
.DS_Store
*.iml
.idea/*
*.ipr
*.iws
out/
.idea_modules/
